<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags shop_tags i18n staticfiles site_tags %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "images/favicon.ico" %}">


{% if "herokuapp.com" not in request.build_absolute_uri %}
<link rel="canonical" href="">
{% endif %}
	{% if settings.GOOGLE_ANALYTICS_ID and not request.user.is_staff %}
<script>{% compress js %}
var _gaq = _gaq || [['_trackPageview']];
_gaq.unshift(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ID }}']);
(function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
})(document, 'script');
{% endcompress %}</script>
{% endif %}

{% comment %}
	!IMPORTANT: Because we use jQuery during the checkout process it has to be loaded BEFORE the main body scripts.
	Just because Google says it shouldn't be here doesn't make it true.
{% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

{% block extra_head %}{% endblock %}
<link rel="stylesheet" href="/static/css/minimal.css">
</head>
<body>
	{% block main %}

	{% endblock %}

	{% include "includes/footer_scripts.html" %}
    {% block extra_css %}{% endblock %}
</body>